<div class=" myShadow mb-3 rounded-3 place-card-item">
  <div class="row py-3 px-3  ">
    <div class="col-4">
      <img class="placeImg " src="assets/images/Places/{{placeNamePng}}"/>
    </div>
    <div class="col-8">
      <div class="head-text">{{place.placeName}}</div>
      <div class="head-text">Аэропорт: {{place.airportCity}}</div>
      <div class="regular-text">{{place.description}}</div>
      <div class="additional-text">Теги: {{place.tags.slice(0,-1)}}</div>
    </div>
  </div>
</div>
