<div style=" background: #350A4E; ">
  <div class="container p-2 " style="color: white; ">
    <div class="d-flex" style="flex-direction: row; align-items: center; justify-content: space-between">
      <div class="search-bar ">

        <div routerLink="" class="logo ">
          <img src="assets/icons/airplane-flight.png" width="40" height="40" class="d-inline-block align-top" alt="">
          <div class="navbar-brand ">
            iTraveler
          </div>
        </div>
        <div class="placesInNavBar" routerLink="/search-places">
          Не знаете куда полететь?
        </div>
      </div>
      <div *ngIf="!(isloggedIn$ | async) ">
        <button mat-button (click)="openAuthDialog()" class="findBtn OnBtn">Войти</button>
      </div>


      <div *ngIf="(isloggedIn$ | async) && loggedIn()" class="dropdown mr-5" dropdown>
        <a href="#" class="dropdown-toggle text-light " dropdownToggle (click)="false">
          Добро пожаловать {{user.name}}
        </a>
        <div class="dropdown-menu" *dropdownMenu>

          <a routerLink="/account" class="dropdown-item">Аккаунт</a>
          <a (click)="openDialog()" class="dropdown-item">Выйти</a>
        </div>
      </div>
    </div>
    <div class="my-3" *ngIf="showSearchMenu">
      <app-search-menu></app-search-menu>
      <!--      <app-test></app-test>-->
    </div>
  </div>

</div>
