<!--<label>Filter City: &nbsp; </label>-->
<!--<input [(ngModel)]='City'>-->
<!--<button type="button" (click)="onCityFilter()">Search</button>-->
<!--<button type="button" (click)="onCityFilterClear()">Clear</button> &nbsp;-->

<label>Sort by &nbsp;</label>
<select [(ngModel)] = 'SortbyParam'>
<!--  <option value="FlightDuration">Duration</option>-->
  <option value="totalPrice">Price</option>
</select>
<button type="button" (click) = "onSortDirection()">
  <img *ngIf="SortDirection==='asc'" src="assets/icons/sort-up.png" >
  <img *ngIf="SortDirection==='desc'" src="assets/icons/sort-down.png" >
</button>

<!--| sort:[SortbyParam,SortDirection]-->
<div class="row justify-content-end" >
<!--  |filter:filter$-->
  <div *ngFor="let ticket of tickets$ | async |sort:[SortbyParam,SortDirection]"
       class="myShadow mb-3 rounded-3 " >
    <app-flight-card [ticket]="ticket"></app-flight-card>
  </div>
</div>
