.home_slider_background{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(53, 10, 78, 0.5),
  rgba(53, 10, 78, 0.5)),url("src/assets/images/home_slider.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

