<div>
  <div class="home_slider_background ">
    <app-search-nav-bar [showSearchMenu]="false"></app-search-nav-bar>
    <div class="container align-items-center" style="margin-top: 2rem; " >
      <!--  *ngIf="isLoggedIn"-->
      <div style="margin-top: 16%">
        <div class="fw-bold " style="font-size: 40px; color: white">Исследуй мир вместе с ITraveler</div>
        <div class="fw-bold mt-3" style="font-size: 20px; color: white">Лучшие авиабилеты по доступной цене</div>
        <div class="mt-2">
          <app-search-menu></app-search-menu>
        </div>
      </div>

    </div>
  </div>
</div>






