.hr-shadow {
  margin: 20px 0;
  padding: 0;
  height: 0;
  border: none;
  opacity: 8%;
  border-top: 3px solid #000;
}

.hr-dashed {

  border-left: 2px dashed #ddd;
}

.btn-settings{
  border: 0;
  background: transparent;
}
